body{
  text-align: center;
  background-color: green;
  margin-left: 20px;
  margin-right: 20px;
}
h1{
  border-radius: 10%;
  color:white;
  border: 8px solid;
  margin-bottom: 10px;
  font-size: 650%;
  margin-top: 25px;
}
h2{
  padding-top: 160px;
  font-family: 'monserrat';
  font-size: 40px;
  color: white;
}
.button{
  font-family: 'monserrat';
  font-size: 40px;
  height:250px;
  width:250px;
  background-color: Red;
  color:white;
  border-width: 7px;
  border-style: solid;
  margin-top: 0;
  border-radius: 100%;
  border-color: white;
  cursor: pointer;
  position: relative;
  top:170px;
}
.purple{
  height:200px;
  width:200px;
  border-radius: 10% ;
  background-color: purple;
  border-width: 10px;
  border-style: solid;
  margin: 1%;
  margin-bottom: 0;
  cursor: pointer;
}
.blue{
  height:200px;
  width:200px;
  border-radius: 10%;
  background-color:blue;
  border-width: 10px;
  border-style: solid;
  margin: 1%;
  margin-bottom: 0;
  cursor: pointer;
}
.pink{
  height:200px;
  width:200px;
  border-radius: 10%;
  background-color: pink;
  border-width: 10px;
  border-style: solid;
  margin: 1%;
  cursor: pointer;
}
.orange{
  height:200px;
  width:200px;
  border-radius: 10%;
  background-color: orange;
  border-width: 10px;
  border-style: solid;
  margin: 1%;
  cursor: pointer;
}
.pressed{
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}
.pressed1{
  box-shadow: 0 5px 5px 0 #FFFFFF;
  opacity: 0.5;
  background-color: black;
}
